--allow-all-external
Flask
Flask-DebugToolbar

#Flask-HTMLBuilder
git+git://github.com/majorz/flask-htmlbuilder.git

Jinja2
PyYAML
Werkzeug
argparse
blinker

## FIXME: could not find svn URL in dependency_links for this package:
#bulbs==0.3.11-20130204
git+https://github.com/espeed/bulbs.git

distribute
httplib2
ipython
omnijson
python-dateutil
pytz
six
wsgiref

JPipe1
